<p id="notice"><%= notice %></p>

<h1>作業時間記録 [ <%= @minutes_date.present? ?
  @minutes_date.first.created_at::text.strftime("%Y/%m/%d") : Date.current::text.strftime("%Y/%m/%d") %> ]
</h1>

<div>
  <%= render partial: "minutes/minute" %>
</div>
