// Place all the styles related to the minutes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #stopwatch {
//   display: flex;
//   text-align: center;
// }

// #stopwatch > span {
//   font-size: 20px;
//   padding: 10px;
// }

h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px;
}

.time_category {
  font-size: 15px;
}

#history {
  font-size: 20px;
}

#history > h2 {
  font-weight: bold;
}

#history > ul {
  padding: 0;
  list-style: none;
  font-size: 15px;
  color: #3399FF;
}

#history li {
  padding: 0;
  list-style: none;
  font-size: 15px;
  color: #3399FF;
}

#history a {
  font-size: 15px;
  color: #3399FF;
}
.frame {
  padding: 3px;
  border: 0.5px solid ;
}

.total {
  font-size: 18px;
  font-weight: bold;
}

.table td {
  vertical-align: middle;  
}

.table btn-primary {
  color: ffffff !important;
}

.table btn-outline-danger {
  color: ff0000 !important;
}

#category_hist {
  margin-left: 20px;
  color: #000000;
  font-size: 15px;
}

#month {
  font-size: 22px;
  color: #0000ff;
}

#total_month {
  margin: 20px 0 0 40px;
}