// Place all the styles related to the minutes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#stopwatch {
  display: flex;
  text-align: center;
}
#stopwatch > span {
  font-size: 20px;
  padding: 10px;
}
